.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: right;
    width: 50%;
    font-family: georgia;
    height: 50px;
    text-shadow: 2px 2px 4px grey;
}
.active{
        background-color: white;
        color: black;
    }
.button:hover{
        background-color: white;
        color: black;
    }
.default{
    background-color: black;
    color: white;
}
.body{
    background-color: #e0e0d1;
    height: 700px;
    display: none;
    }
.input{
    width: 50%;
    height: 50px;
    margin-top: 110px;
    font-size: 27px;
}
.i{
    background-color: black;
    width: 50%;
    height: 50px;
    margin-top: 140px;
    font-size: 27px;
    color: white;
}
